* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
    margin: 0;
}

button {
    position: relative;
    cursor: pointer;
    outline: none !important;
    box-shadow: 0 0 3px #a2a8b1;
    border: none;
    color: #758286;
}

.container {
    height: 100vh;
}